@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

:root {
  --primary-100:#1F3A5F;
  --primary-200:#4d648d;
  --primary-300:#acc2ef;
  --accent-100:#3D5A80;
  --accent-200:#cee8ff;
  --text-100:#FFFFFF;
  --text-200:#e0e0e0;
  --bg-100:#0F1C2E;
  --bg-200:#1f2b3e;
  --bg-300:#374357;
}

html, body {
	margin: 0;
	height: 100%;
  /* Pretendard font family : https://ungveloper.tistory.com/16 */
  font-family: "Pretendard", system-ui, -apple-system, sans-serif !important;
  --scroll-behavior: smooth !important;
  scroll-behavior: smooth !important;
  background: #e6e8ec;
}

html { user-select: none }

/* Lien Height tight # 문단 간 간격을 줄였습니다. */
* { line-height: 1.25; }

/* 뒷면 요소 숨기기 */
.backface-hidden {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

/* 원근법 */
.perspective {
  perspective: 1000;
}

.perspective-origin {
  perspective-origin: 100% 100%;
}

.bg-dotted-pattern {
  background: linear-gradient(90deg, #e6e8ec 20.6px, transparent 1%) center, linear-gradient(#e6e8ec 20.6px, transparent 1%) center, #014B8C;
  background-size: 22px 22px;
}

.bg-gradient-overlay {
  background: linear-gradient(-45deg, #02ABEE, #F6D200, #8F7EAB);
  background-size: 300% 300%;
  animation: gradient 18s ease-in-out infinite;
}

.bg-gradient-animation {
  background: linear-gradient(-45deg, #014B8C, #0078AD, #02ABEE);
  background-size: 300% 300%;
  animation: gradient 15s ease-in-out infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
  25% {
    background-position: 50% 50%;
  }
	50% {
		background-position: 100% 50%;
	}
  75% {
    background-position: 50% 50%;
  }
	100% {
		background-position: 0% 50%;
	}
}